@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
}

/* Inputs */
body {
  background-color: #f5f5f5;
  margin: 0;
}
.date-wrapper {
  position: relative;
  display: inline-block;
  margin-left: auto;
}

input[type="date"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.custom-icon {
  width: 2rem;
  height: 2rem;
  background-image: url("icons/event.svg");
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}

#inputs {
  display: flex;
  background-color: #c3bcf1;
  justify-content: left;
  border-radius: 0px 30px 30px 0px;
  padding: 0.75rem 1rem;
  margin-top: 10svh;
  gap: 0.5rem;
  width: calc(90vw - 1rem);
}
#name {
  flex-grow: 1;
  background-color: #c3bcf1;
  border: none;
  font-size: large;
}
#add {
  background-color: #c3bcf1;
  border: none;
}
#name:focus {
  border: none;
  outline: none;
}
#name:active {
  border: none;
  outline: none;
}
/* Titel */
#title {
  background-color: #2d3142;
  width: calc(90vw - 2.7rem);
  margin-top: 6svh;
  border-radius: 30px 0px 0px 30px;
  padding: 1rem 2rem;
  margin-left: auto;
}
#title h2 {
  color: #f5f5f5;
}

/* Geburtstage */
.bd-icon path {
  fill: #f5f5f5;
}
.bd {
  display: flex;
  background-color: #2d3142;
  border-radius: 0px 30px 30px 0px;
  margin-top: 5.5svh;
  padding: 1rem 1.25rem;
  color: #f5f5f5;
  width: calc(90vw - 1.25rem);
  gap: 1rem;
}
.bd-content {
  display: flex;
  flex-grow: 1;
  margin-left: auto;
  gap: 0.5rem;
}
.bd-title {
  font-size: 24;
  margin-bottom: 0.5rem;
}
.bd-age {
  margin-left: auto;
  margin-right: 0.75rem;
}

.bd.right {
  margin-left: auto;
  border-radius: 30px 0 0 30px;
}
