@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  background-color: #f5f5f5;
  margin: 0;
}
.date-wrapper {
  position: relative;
  display: inline-block;
  margin-left: auto;
}

input[type="date"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.custom-icon {
  width: 2rem;
  height: 2rem;
  background-image: url("icons/event.svg");
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}

#inputs {
  display: flex;
  background-color: #c3bcf1;
  justify-content: left;
  border-radius: 0px 30px 30px 0px;
  padding: 0.75rem 1rem;
  margin-top: 10svh;
  margin-right: 10vw;
  gap: 0.5rem;
}
#name {
  flex-grow: 1;
  background-color: #c3bcf1;
  border: none;
  font-size: large;
}
#add {
  background-color: #c3bcf1;
  border: none;
}
* {
  font-family: "Nunito", sans-serif;
}
#name:focus {
  border: none;
  outline: none;
}
#name:active {
  border: none;
  outline: none;
}
#title { 
  background-color:#2D3142;
  justify-content:right;
  margin-left:10vw;
  margin-top: 6svh;
  border-radius: 30px 0px 0px 30px;
  padding: 0.9rem 0.8rem; 
}
#title h2 {
  color:#F5F5F5;
  margin-left:1rem; 
}
.bd {
  background-color:#2D3142;
  justify-content:left;
  border-radius: 0px 30px 30px 0px;
  margin-right: 10vw;
  margin-top:5.5svh;
  padding:0.9rem 0.8rem;
  color:#f5f5f5;
}
.bd-icon path {
  fill:#f5f5f5;
  stroke:#f5f5f5;
}