body {
  background-color: #f5f5f5;
}
<<<<<<< HEAD

.date-wrapper {
  position: relative;
  display: inline-block;
}

input[type="date"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.custom-icon {
  width: 2rem;
  height: 2rem;
  background-image: url("icons/event.svg");
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}
=======
#inputs {border-radius: 

}
>>>>>>> 7ef7a3f0c71ca40b2667a268f422abfde3f4f639
