.container {
  display: flex;
  height: 10rem;
  align-items: center;
  gap: 0.5rem;
  background-color: lightblue;
  justify-content: start;
  padding: 1rem;
}
#a {
  background: blue;
}
#b {
  background: red;
  flex-grow: 1;
}
#c {
  background: green;
}

.container div {
  color: white;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
}

